  SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="01ABA37D", SYMLINK+="ttySTAIRS"
  SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="01ABA463", SYMLINK+="ttyMUMMY"
  SUBSYSTEM=="tty", ENV{ID_SERIAL}=="1a86_USB2.0-Serial", SYMLINK+="ttyMAUSOLEUM"
