[Unit]
Description=ExitPuzzles Tomb node service
After=syslog.target network.target

[Service]
User=pi
Type=simple
Restart=always
RestartSec=7
#StandardOutput=null
#StandardError=null
ExecStart=/usr/bin/node /home/pi/code/server/index.js
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=exitpuzzles-tomb
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
