  SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="01ABA37D", SYMLINK+="ttySTAIRS"
  SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="01ABA463", SYMLINK+="ttyMUMMY"
  SUBSYSTEM=="tty", ENV{ID_SERIAL}=="1a86_USB2.0-Serial", ENV{ID_PATH}=="platform-3f980000.usb-usb-0:1.3:1.0", SYMLINK+="ttyMAUSOLEUM"
  SUBSYSTEM=="tty", ENV{ID_SERIAL}=="1a86_USB2.0-Serial", ENV{ID_PATH}=="platform-3f980000.usb-usb-0:1.1.2:1.0", SYMLINK+="ttyRFID1"

